html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form {
    max-width: 350px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(50, 44, 241, 0.8);
    border-radius: 10px;
    margin: 50px auto;
    text-align: center;
}

.login-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #32a852;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #27923e;
}

.link {
    margin-top: 20px;
}

.link a {
    color: #32a852;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
